@import "../../variables.scss";

.item {
    margin: 0 20px;
    padding: 10px 10px;
    border-bottom: 1px solid $light-border;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $light-text;
    gap: 15px;
    cursor: pointer;

    &:hover {
        background-color: $light-bg;
    }
}

.listHeader {
    position: sticky;
    top: 0;
    background-color: $dark-bg;
    margin: 0 20px;
    padding: 10px 10px;
    border-bottom: 1px solid $light-border;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $light-text;
    gap: 15px;
}

.item-icon {
    width: 30px;
}

.item-name {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 45%;
    min-width: 150px;
}

.item-extension {
    width: 20%;
    min-width: 150px;

    @media (max-width: 1000px) { display: none;}
}

.item-size {
    width: 15%;
    min-width: 150px;
    @media (max-width: 900px) { display: none;}
}

.item-modified {
    width: 20%;
    min-width: 150px;
    @media (max-width: 400px) { display: none;}
}