@import "../../variables.scss";

.searchbar {
    background: url("../../assets/Searchbar/search.svg") no-repeat scroll 7px 7px;
    background-size: 15px;
    background-position: left 10px top 50%;
    height: 30px;
    border: 1px solid $light-border;
    padding-left: 30px;
    color: $light-text;
    width: 50%;
    &:hover{
        border-color: $light-text;
    }
    &:focus{
        background-color: $light-bg-hover;
        border: 0;
        outline: none;
        box-shadow: none;
    }
    @media (min-width: 800px) {
        margin: 0 50px;
    }
}